@import 'styles/_unit.scss';

.header {
    width: 100%;
    height: rem(48);
    background: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bg-color);
    padding: rem(15) rem(24);
    &__logoBox {
        width: rem(208);
    }
}

.aside {
    width: rem(208);
    background-color: #fff;
    height: 100vh;
    padding: rem(32) rem(12);
}